/*https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; width: 116px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
        content: "ON";
    padding-left: 14px;
    background-color: #EEEEEE; color: #34A7C1;
}
.onoffswitch-inner:after {
        content: "OFF";
    padding-right: 14px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
        display: block; width: 38px; margin: 1.5px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 71px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #34A7C1; 
}
/*/////////////////










////////////////*/
/*Formulario establecer horario*/
.formContEstablecer{
    padding: 1em;
    display: none;
}
#form_horario{
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    border: 0.2em solid #000;
}
.etiquetaHora, .nomLocal{
    text-align: right;
    margin: 0;
    padding: 0;
}
#LineaHorario{
    border: 0.1em solid #000;
}
/*Estilos reloj*/
#relojHoraInicio, #relojHoraCierre{
    background: #000;
    width: 100%;
    color: #fff;
    padding: 0.2em;
}

.filaReloj, .filaMando, .filaEvento{
    text-align: center;
    color: #000;
    margin: 0.2em;
    padding-left: 1.05em;
    width: 100%;
}
.filaReloj{
    background: #fff;
    border-radius: 1em;
    color: #000;
}
.colMandoIz, .colMandoDer{
    background: #fff;
    cursor:pointer;
    border-radius: 0.5em;
}
.filaEvento{
    color: #fff;
}
.col-Evento{
    padding-top: 0.2em;
    cursor:pointer;
}
.col-Evento:hover {
    background: #fff;
    color: #000;
    border-radius: 1em;
}