/*https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; 
    width: 100%;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #000; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 18px; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #C23C34; 
    color: #fff;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 20px; 
    margin: 5px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 81px;
    border: 2px solid #000; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/*Formulario establecer horario*/
.formContEstablecer{
    padding: 1em;
}
#form_horario{
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    border: 0.2em solid #000;
}
.nomLocal{
    margin-left: 2em;
}
.etiquetaHora{
    text-align: right;
    margin: 0;
    padding: 0;
}
/*Estilos reloj*/
#relojHoraInicio, #relojHoraCierre{
    background: #000;
    width: 100%;
    color: #fff;
    padding: 0.2em;
    padding-right: 0.3em;
}
#LineaHorario{
    border: 0.1em solid #000;
}

.filaReloj, .filaMando, .filaEvento{
    text-align: center;
    color: #000;
    margin: auto;
}
.filaReloj{
    color: #fff;
    background: red;
    margin-top: 0.3em; 
    margin-bottom: 0.2em;
}
.colMandoIz, .colMandoDer{
    background: green;
    width: 49%;
    cursor:pointer; 
}
.colMandoDer{
    margin-left: 0.1em;
}
.colMandoIz{
    margin-right: 0.1em;   
}
.filaEvento{
    color: #fff;
}
.col-Evento{
    cursor:pointer;
}