/*https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; 
    width: 100%;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #000; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 18px; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #C23C34; 
    color: #fff;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 20px; 
    margin: 5px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 81px;
    border: 2px solid #000; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/*Formulario establecer horario*/
.formContEstablecer{
    background: red;
    padding: 1em;
}
#form_horario{
    background: green;
}
/*Estilos reloj*/
#relojHoraInicio, #relojHoraCierre{
    background: #000;
    width: 100%;
    color: #fff;
    padding: 0.2em;
    padding-right: 0.3em;
}

.filaReloj, .filaMando, .filaEvento{
    text-align: center;
    color: #000;
    margin: auto;
}
.filaReloj{
    color: #fff;
    background: red;
}
.colMando{
    background: #fff;    
    
}
.filaEvento{
    color: #fff;
}